*{
    margin: 0px;
    padding: 0px;
}

#cont{
    display: inline flex;
    margin:100px;
    height: 400px;
    margin-left: 200px;
  border: 0px;
  border-radius: 50px;

}
.box{
    border: 30px ;
    padding: 20PX;
    font-family:Lexend Deca;
    font-weight: 400;
    
  
}
#fir{
    background: hsl(31, 77%, 52%);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
#sec{
    background: hsl(184, 100%, 22%);
}
#thr{
    background: hsl(179, 100%, 13%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
 .but{
    text-align: center;
    margin-top: 9px;
    
 }
 button{
    font-size: 15px;
    padding: 10px;
    border-radius:20px;
    width: 150px;
    border-style: none;
    

 }
 h2{
    font-family: Lexend Deca  ;
     font-size: 40px;
     color:  hsl(0, 0%, 95%);
    
 }
 #b1 {
    color: hsl(31, 77%, 52%); 
 }
 #b2 {
    color: hsl(184, 100%, 22%);
 }
 p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size:  15px;
 }
#b3 {
    color:  hsl(179, 100%, 13%);
}